.main-card {
    background: lightblue;
    border-radius: 14px;
    border: 1px solid lightgray;
    padding: 37px 34px;
    width: 70%;
    margin: 19px 15%;
}

.sub-card {
    border-radius: 14px;
    margin: 21px 10px;
    background: lightblue;
}

.overview {
    padding-top: 18px;
}